#title{
  background-color: #ff4c68;
  color: #fff;
}

.title1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  /* word-spacing: 5px; */
}

.container-fluid{
  padding: 3% 15% 8%;
}

/* Navigation bar */

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-item{
  font-size: 1.2rem;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.download_button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width:  60%;
  transform: rotate(25deg);
  /* margin-top: 55px; */
  /* margin-left: 100px; */
  right: 30%;
  position: absolute;

}

/* Feature section */

#features{
  padding: 7% 15%;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.feature-box{
  text-align: center;
  padding: 5% ;
}

h3{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
}

p{
  font-family: "Montserrat", sans-serif;
  color: #8f8f8f;
  /* font-weight: 300; */
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonials */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Pricing Secion */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-col{
  padding: 3% 2%;
}

@media (max-width: 1023px) {

  .title-image{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }

  .title1{
    font-size: 3rem;
  }

  .nav-item{
    text-align: left;
  }

}

/* CTA section*/

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
  color: #fff;
}

.download_button1{
  margin: 5% 3% 5% 0;
}

.footer-title{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

/* footer */
#footer{
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
}

.icon-image{
  margin: 20px 10px;
}

/* .copyright{
  margin-top: 30px;
} */
